.card-top{
  width: 100%;
  background-color: #ECF0F1 ;
  height: 50px;
}
ul {
  list-style-type: none;
  display: flex;
}
ul li {
  background-color: #D0D3D4;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
}
nav ul li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc;
  }

  .product{
    margin: 20px;
  }

  .product img{
    width: 200px;
    height: 290px;
    margin-bottom: 15px;
  transition: 0.3s ease-in-out;
  }
