<div class="">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">AngularCart</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="form-group">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="SearchTerm" (keyup)="search($event)">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </div>
      </div>
<div class="">
  <a routerLink="/cart" class="btn btn-primary" role="button">
  Cart <span class="badge bg-secondary">{{totalItems}}</span>


</a>
</div>



    </nav>


  </header>

</div>
